* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
}

.logo {
    width: 150px;
    padding: 0 20px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
}

.navbar ul li a:hover {
    color: red;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: red;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
    color: red;
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: #fe3e3e;
    padding: 10px;
    text-align: center;
}

.main {
    float: left;
    width: auto;
    padding: 20px;
    overflow: hidden;
    color: white;
}

